.required {
    color: red !important;
}

.error {
    color: red;
    text-align: left !important;
    margin-left: 30px;
}

.label {
    color: #fff;
    padding: 10px;
    margin-right: 50px;
    width: 120px;
    border: 2px solid rgb(78, 158, 204);
    height: 40px;
    background-color: rgb(78, 158, 204);
}

.label-list {
    color: rgb(43, 42, 42);
    padding: 10px;
    margin-right: 50px;
    min-width: 120px;
    height: 50%;
    font-size: 14px;
}

.text {
    margin-left: -0.5%;
}

.khoa {
    margin-left: -82px;
    width: 250px !important;
}

.username,select {
    margin-left: -30px;
    height: 37.6px;
    border: 2px solid rgb(78, 158, 204);
    min-width: 18px;
    background-color: rgb(223, 237, 246);
}

.username {
    width: 250px;
}

.title {
    margin: 30px;
    margin-bottom: -10px;
}

.title, .gender, .gender-option {
    display: flex;
}

select {
    margin-left: -28px;
    width: 270px; 
}

.gender-option {
    margin-right: 10px;
    min-width: 80px;
}

button, .add {
    background-color: rgb(78, 158, 204);
    height: 40px;
    border-radius: 6px;
    color: #fff;
    border: 2px solid rgb(78, 158, 204);
    width: 10%;
    margin-left: -60%;
    margin-top: 30px;
}

.add, .search {
    border: 2px solid rgb(60, 64, 67) !important;
}

.count_student {
    margin-left: 3%;
}

.search {
    margin-left: -50%;
}

form {
    padding: 30px;
    width: 80%;
    text-align: center;
    margin-left: 30%;
}

p {
    margin-top: 12px;
    margin-left: 10px;
}

.image {
    border: none !important;
    margin-top: 10px;
}

td, th {
    text-align: left;
    padding: 8px 30px; 
}

.action {
    width: 50px !important;
    margin-top: -20px;
    height: 30px;
    background-color: rgb(156, 192, 214);
}
  
.delete {
    margin-left: 10px;
}

.edit {
    margin-left: 3px;
}

.add {
    margin-top: 10px !important; 
    margin-left: -15%;
}